# Notebook introduction

In this notebook, travel-related texts are fetched from the API of https://www.biodiversitylibrary.org/.
A travel-related term is manually entered - and texts which contain that term as a title element are fetched.
The result is then stored as a dataframe, and subsequently as a .CSV-file.

These .CSV-files are further processed and metadated in other notebooks.

In [ ]:
import requests
import pandas as pd

In [ ]:
#user key for BHL API
key = "d8ffd12f-b06d-49a6-acaa-d830fcb30083"

# Fetch BHL data

In [ ]:
#define user agent
ua = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/104.0.0.0 Safari/537.36"

In [ ]:
headers = {"User-Agent": ua}

In [ ]:
#enter travel-related search term
search = "reys"

In [ ]:
#define request
title_IDS = requests.get(f"https://www.biodiversitylibrary.org/api2/httpquery.ashx?op=TitleSearchSimple&title={search}&apikey={key}&format=json", headers = headers)

In [ ]:
#check number of titles fetched
x = title_IDS.json()
print("Number of title_IDS:")
len(x["Result"])

Number of title_IDS:

6

In [ ]:
#if no title id available, don't fetch
title_IDS = [result["TitleID"] if result["TitleID"] is not None else "not available" for result in x["Result"]]

In [ ]:
#Fetch books from Biodiversity Heritage Library based on presence of travel-related term in the title.
#Assumption: books with travel-related term in the title are travel-related.

item_ids = []
books = []
cnt = 0
for title_id in title_IDS:
  title_metadata = requests.get(f"https://www.biodiversitylibrary.org/api2/httpquery.ashx?op=GetTitleMetadata&titleid={title_id}&items=t&apikey={key}&format=json", headers = headers)
  title_metadata = title_metadata.json()

  item_id = [item["ItemID"] for item in title_metadata["Result"]["Items"]] #fetch item_id (identifier of the work)
  for item_i in item_id:
    try:
        title = title_metadata["Result"]["FullTitle"] #fetch title of the work
        author = title_metadata["Result"]["Authors"][0]["Name"] #fetch author name
        pub_year = title_metadata["Result"]["Items"][0]["Year"] #publication year
        language = title_metadata["Result"]["Items"][0]["Language"] #language
        cnt += 1
        print(cnt)
        print(f"Fetching: {title} \n By: {author} \n Written in: {pub_year} \n Language: {language}")
        print(item_i)

    except:
        continue
  #fetch OCR'ed text for every volume pertaining to every title_id
    book = {}
    #save failed item_ids to attempt again (never needed this)
    failed =[]
    text = requests.get(f"https://www.biodiversitylibrary.org/api2/httpquery.ashx?op=GetItemPages&itemid={item_i}&ocr=t&apikey={key}&format=json", headers = headers)
    text = text.json()
    if text["Status"] != "error":
      ocr = [item["OcrText"] for item in text["Result"]] #fetch OCR for 1 item_ID
    else:
      failed.append(item_i)
      continue

    if ocr:
      print("OCR available")
      #populate dictionary "book" with other metadata
    book["title"] = title
    book["author"] = author
    book["publication_year"] = pub_year
    book["language"] = language
    book["fullText"] = " ".join(ocr).replace("\n", "")
    book["item_id"] = item_i


    books.append(book)

1
Fetching: Fünfter Theil der Orientalischen Indien, eygentlicher Bericht vnd warhafftige Beschreibung der gantzen volkommenen Reyse oder Schiffart, so die Holländer mit acht Schiffen in die Orientalische Indien, sonderlich aber in die Javanische vnd Molukische Inseln, als Bantam, Banda, vnd Ternate, &c. gethan haben, welche von Amsterdam abgefahren im Jahr 1598. vnd zum Theil Anno 1599. zum Theil aber in Jüngst abgelauffenen 1600. Jahr, : mit grossen Reichthumb von Pfeffer Muscaten, Regelein, vnd anderer köstlichen Würtz, wider anheym gelanget, darinn fleissig beschrieben vnd angezeigt, was ihnen auff der gantzen Reyse Denckwürdiges begegnet vnd zuhanden gangen
 By: Neck, Jacob Cornelisz. van,
 Written in:
 Language: German
171866
OCR available
2
Fetching: Fünfter Theil der Orientalischen Indien, eygentlicher Bericht vnd warhafftige Beschreibung der gantzen volkommenen Reyse oder Schiffahrt, so die Holländer mit 8. Schiffen in die Orientalische Indien, sond[er]lich aber in die Javanische vnd Molukische Inseln, als Bantam, Banda, vnnd Ternate, &c. gethan haben, welche von Amsterdam abgefahren im Jahr 1598. vnnd zum Theil Anno 1599. zum Theil aber in Jüngst abgelauffenen 1600. Jahr, : mit grossen Reichthumb von Pfeffer, Muscaten, Regelein, vnd anderer köstlichen Würtz, wid anheym gelanget, darinn fleissig beschrieben vnd angezeigt, w[a]z ihnen auff der gantzen Reyse Denckwürdiges begegnet vnd zuhanden gangen
 By: Neck, Jacob Cornelisz. van,
 Written in:
 Language: German
172039
OCR available
3
Fetching: Hachelijke reys-togt van Jacob Jansz de Roy, na Borneo en Atchin, in sijn vlugt van Batavia, derwaards ondernoomen in het jaar 1691. en vervolgens : Zijnde een opregt verhaal van zeldsaame ontmoetingen, en deerlijke rampen; als beroovinge van vaartuygen de goederen, honger, dorst, naaktheyd, armoede, veerderley doods-gevaar en andere onuytspreekelijke ongemakken, door hem selfs uytgestaan. Mitsgaders een seer naaukeurige beschrijving van het eyland Borneo, met des zelfs koningrijken, also Banyer Massing, Succadana, Cottaringen, de woon-plaatsen van de viadjes en andere, met hare overkostelijke goud-en diamant-mijnen, camphur en andere koopmanschappen, also ook hare goud-rijke bergen en rivieren, negeryen, schoonheyd der vrouwen, huuwelijken, imborst en zeeden der inwoonders, &c. Insgelijks een aanmerkelijk berigt van her koningrijk Atchin op Sumatra, met haat land-aard, regeering en uytvoering van lijf-en hals-strassen over de dieven
 By: Roy, Jacob Jansz de,
 Written in:
 Language: Dutch
259830
OCR available
4
Fetching: Reyse nach Gvinea, oder, Ausführliche Beschreibung dasiger Gold-Gruben, Elephanten-Zähn und Sclaven-Handels ...
 By: Bosman, Willem,
 Written in:
 Language: German
162561
OCR available
5
Fetching: Tweejaarige reyse rondom de wereld, ter nader ontdekkinge der onbekende zuydlanden, met drie schepen in het jaar 1721 ondernomen door last van de Nederlandsche Westindische Maatschappy. Nevens de reyse van het Oostindisch schip Barneveld, uyt Holland tot aan de Kaap de Goede Hoope, in 1719
 By: Cornelis, Abraham (Amsterdam)
 Written in: 1774
 Language: Dutch
209901
OCR available
6
Fetching: W: Dampier en L: Wafers Reystogten rondom de waereldt; : begrypende, in vier beknopte boekdeelen, een naauwkeurige beschryving van verscheyde nieuwe ontdekte zeën, kusten, en landen, zo in Amerika, Asia, als Afrika; benevens veele nuttelyke aanmerkingen ontrent de stroomen, winden, havens, dieptens, engtens en andere fraye waarnemingen en bysonderheden, zo van bereisde als voor dese, onbereisde gewesten: alom doormengt, met de beschrijving der inwoonders, aardt, zeden en plegtigheden dezer vreemde volkeren. Midsgaders derselver landsdouwen, vrugten, gewassen, dieren, en andere seldsaamheden. Voorzien met een groot getal kaarten, kust ontdekkingen en andere fraye verbeeldingen
 By: Dampier, William,
 Written in:
 Language: Dutch
121800
OCR available

In [ ]:
len(books)

6

## To csv

In [ ]:
df = pd.DataFrame(books) #change fetched book texts and metadata to dataframe object

In [ ]:
df = df.reset_index(drop = True)

In [ ]:
df.tail() #check

,Title,Author,Publication_year,Language,FullText,Item_id
20,Reize door de binnenlanden van Noord-Amerika,"Carver, Jonathan,",,Dutch,IMAGE EVALUATION TEST TARGET (MT-3) 1.0 l.l ■...,101068
21,Reize naar Arabie?? en andere omliggende landen,"Niebuhr, Carsten,",1776,Dutch,""" .. Q) CD sz o s 1q - * — naturalis nationaa...",211502
22,"Reize om de wereld gedaan in de jaren 1803, 18...","Kruzenshtern, Ivan Fedorovich,",,Dutch,t IMAGE EVALUATION TEST TARGET (MT-S) RHl! 1....,85276
23,"Reize van Aleppo naar Jeruzalem, op paasschen ...","Maundrell, Henry,",1705,Dutch,"£3 Z hljrpozoc < , • < - • ' ' ■ A BIBUCTHSC...",209966
24,Untersuchungen über Reizerscheinungen bei den ...,"Polowzow, Warwara,",,German,m Untersuchungen über Rcizcrscbeinungen ...,46882

In [ ]:
df["Language"].value_counts() #check language distribution

German    3
Dutch     3
Name: Language, dtype: int64

In [ ]:
df.to_csv("reys.csv") #save to .csv-file with name of travel-related term

In [ ]:
ddf[df["FullText"] == ""] #check for entries where texts are not available

,Title,Author,Publication_year,Language,FullText,Item_id
4,Apparent triploidy in the unisexual brahminy b...,"Cole, Charles J.",,English,,171114
15,"Chromosome evolution in selected treefrogs, in...","Cole, Charles J.",,English,,168661
152,"On North American moths, with the description ...","Beutenmüller, William,",,English,,167304